/* 主题色：靛蓝色 */
:root {
    --color-primary: #90d8ff;
    --color-primary-rgb: 63, 81, 181;
}

/* 降低背景模糊度（5px 非常清爽） */
.nexmoe-bg {
    filter: blur(3px) !important;
    transform: scale(1.05);
}

/* 修正侧边栏选中的颜色 */
.nexmoe-drawer .nexmoe-list .active {
    background-color: rgba(63, 81, 181, 0.1) !important;
    color: #3f51b5 !important;
}
/* 1. 强制修改头图外框：抹除主题默认高度，改用固定比例 */
.nexmoe-post .article .article-cover {
    height: auto !important;
    padding-bottom: 0 !important; /* 必须删掉这个，否则 aspect-ratio 会失效 */
    aspect-ratio: 4 / 3 !important; /* 这就是你想要的固定比例，数字越大越扁 */
    border-radius: 16px !important;
    overflow: hidden !important;
}
/* 2. 强制修改内部图片：确保它充满上面的框，并微调位置防止“断头” */
.nexmoe-post .article .article-cover .article-cover-inner {
    position: relative !important;
    display: block !important;
    height: 100% !important;
    width: 100% !important;
    background-size: cover !important; /* 填满格子 */
    background-position: center 20% !important; /* 20% 会让图片往上提一点，这样不容易切到人脸 */
}